.page-enter-active,
.page-leave-active {
    transition-property: opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 100ms;
}

.page-enter,
.page-leave-to {
    opacity: 0;
}